
## build
build
node_modules
cdk.out
.cdk.staging
.parcel-cache
config.cache.json
template.yaml
cdk.context.json
out/
dist
.aws-sam/
cdk*outputs.json
frontend-config.js

## typescript
**/*.d.ts
# js files should be transpiled from ts and therefore excluded.
**/*.js
**/*.map
# any valid files can be un-excluded below
!webpack.*.*.js
!webapp/src/types/images.d.ts

!cdk-stacks/generate-frontend-config.js
!cdk-stacks/invalidate-cache.js
!cdk-stacks/update-user-pool.js

## python
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__/
*.pyc

### VisualStudioCode
.vscode/*
.history/
*.vsix
*.code-workspace

### JetBrains
.idea/*
*.iml
*.ipr
.idea_modules/


### Cloud9 template
# Cloud9 IDE - http://c9.io
.c9revisions
.c9


### macOS
# General
.DS_Store
.AppleDouble
.LSOverride

/delete-me/



